<!DOCTYPE html>
<html>
<head>
    <title>User-menu</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="level" content="3" />
    <link rel='stylesheet' href='style.css' />

    <!--Bootstrap + Query Implementation -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div id = "container">
        <div id="title-div" class="col">
            <h3>Federal Reserve: Parking Reservation</h3>
        </div>
        <div id="home-body">
            <h1 style = "background-color: white; padding: 20px;"> Welcome! </h1>
            <br/>
            <div class="split-container">
                <div class="enter-in" id="enter-list">
                    <h2>Spots Available</h2>
                    <button data-toggle="collapse" data-target="#claim">Claim!</button>
                    <div id="claim" class="collapse">
                        You are free to enter the lot
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$("#home-body #filter-table td button").click(function(){
    $(this).replaceWith("<input type='number' value=1></input>");
});

</script>

</html>
